header {
    height: inherit;
}

body {
    margin: 60px auto;
    width: 70%;
}

article h1 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

nav {
    padding-inline-start: 0px;
    font-size: 1.125em;
    margin-block: 5%;
}

nav li,
 footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 10px 0px 10px 0px;
    list-style: none;
    font-weight: bold;
    width: fit-content;
}

nav li, 
 footer ul li {
    display: inline;
    margin-right: 1em;
}

footer {
    position: absolute;
    font-size: 1.125em;
    width: 31%;
}

footer ul {
    border-top: 1px solid red;
    padding: 10px 0px 10px 0px;
}

a {
    text-decoration: none;
    color: #13578d;
}

a:hover {
    text-decoration: underline;
}

p,
 aside {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

.wrapper {   
    background-color: aliceblue;  /* optional */
    font-family: 'Helvetica', arial, sans-serif;
}